.introblock1{
    height: 350px;
    margin-top: 30px;
    width: 100%;
    img{
        float: left;
        width: 45%;
    }
    div{
    float: left;
    width: 45%;
    margin-left: 10%;
    }
}
