.cryptotilesblock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 1em;
    margin-bottom: 30px;
  }
  
.listtiles{
    width: 60%;
    margin-left: 40%;
    .cryptotile{
      background-color: #212121;
      width: 100%;
      padding: 0;
      margin: 0;
      height: 200px;
      text-align: center;
      img{
        width: 80%;
        margin-left: 5%;
      }
    }
    .cryptotiledetail{
      width: 200px;
      height: 200px;
      border: 1px solid black;
    }
  }

  .cryptosearch{
    .cryptofilters{
      width: 20vw;
      height: 30vh;
      margin-top: 20vh;
      background-color: #212121;
      border: 1px solid black;
      float: left;
    }
    .cryptolist{
      overflow-y: scroll;
      height: 60vh;
      margin-top: 10vh;
      margin-left: 10vw;
      width: 60vw;
      float: left;
      .CryptoListItem{
        margin-top: 20px;
        height: 100px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        .imageholder{
          height: 100%;
          width: 100px;
          border-right: 1px solid white;
          float: left;
          img{
            height: 90%;
            margin-top: 5%;
          }
          }
        .nameholder{
          width: 20%;
          height: 100%;
          float: left;
          text-align: center;
          h3{
            margin-top: 30px;
            a {
              color: #fff;
              text-decoration: underline;
            }
          }
        }
        .dataholder{
          width: 40%;
          height: 100%;
          float: left;
          display: grid;
          grid-template-columns: 1fr 1fr;

        }
        .canvasholder{
          width: 30%;
          height: 100%;
          float: left;
          border-left: 1px solid white;
          border-right: 1px solid white;
          canvas{
            width: 100%;
            height: 100%;
          }
          
        }
      }
    }

  }

.cryptoDetailBlock{
  text-align: center;
  .CanvasHolder{
    width: 100%;
    canvas{
      width: 60%;
    }
    button{
      color: #fff;
      background-color: #212121;
      
    }
    .paginator{
      margin: 5px;
      span{
        margin: 5px;
        padding: 15px;
        font-size: 1.5em;
      }
      button{
        margin: 5px;
        padding: 15px;
        font-size: 1.5em;
        border-radius: 15px;
        border: 1px solid white;
      }
    }
  }
}