.cryptotilesblock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 1em;
    margin-bottom: 30px;
  }
  
.listtiles{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    width: 60%;
    margin-left: 40%;
    .cryptotile{
      background-color: #212121;
      width: 100%;
      padding: 0;
      margin: 0;
      height: 200px;
      text-align: center;
      img{
        width: 80%;
        margin-left: 5%;
      }
    }
    .cryptotiledetail{
      width: 200px;
      height: 200px;
      border: 1px solid black;
    }
  }
canvas{
  border: 1px solid red;
}